*.patch
*.diff
*.orig
*.rej
*.cache

# Файлы IDE
.idea
.vscode
.settings
.buildpath
nbproject
*.code-workspace

!.gitignore
!.chef

# windows thumbnail cache
Thumbs.db

# composer itself is not needed
composer.phar

/app/var
# vendor
/app/coverage
/app/vendor

# docker volumes
/docker/volumes/*

/symfony/.env
/symfony/.env.local
/symfony/tests/_output/
/symfony/web/build/
/app/.editorconfig
